
.Navbar{
  text-align: left;
  width: 100%;
  background-color: rgb(194, 194, 50);
  color: #f1f1f1;
  padding: 2%;
  font-size: 2rem;
}

.todo-item{
  margin: 20px;
  background-color: rgb(243, 239, 217);
  padding: 20px 20px;
  font-size: large;
  width: 90%;
}
.todo-item-body{
  margin-right: 10px;
}

.container{
  width: 50%;
  margin: 50px 30%;
  border: 3px solid #f2f2f2;
}
.navbar-auth{
  display: flex;
  float: right;
}

.login-form{
  margin: 5% 40%;
  min-width: 300px;
  border: 2px solid #0000;
}

.btn-styles{
  width: 100%;
  font-family: Ubuntu;
}